
# Data & Datasets
dataset/
*.zip
*.csv


# Trained Models (DO NOT COMMIT)
models/
*.h5
*.keras
*.pth

# Python Artifacts
__pycache__/
*.pyc
.ipynb_checkpoints/

# Environment & Secrets
.env
mccp_venv/
venv/

# OS / Editor Files
.DS_Store

# Temporary / Test Files
test.py